{
    "version" : "2017-02-28",
    "operation" : "UpdateItem",
    "key" : {
        "id": $util.dynamodb.toDynamoDBJson($ctx.args.RoomId),
    },
    "update" : {
        "expression" : "SET Status = :Status",
        "expressionValues": {
            ":Status" : "close"
        }
    }
}