{
    "version" : "2017-02-28",
    "operation" : "PutItem",
    "key" : {
        "RoomId": $util.dynamodb.toDynamoDBJson($util.autoId()),
    },
    "attributeValues" : {
        "UserName"    : $util.dynamodb.toDynamoDBJson($ctx.args.UserName),
        "UserId" : $util.dynamodb.toDynamoDBJson($ctx.args.UserId),
        "Status" : $util.dynamodb.toDynamoDBJson("open"),
        "CreatedAt": $util.dynamodb.toDynamoDBJson($util.time.nowFormatted("yyyy-MM-dd HH:mm:ssZ"))
    }
}