{
    "version" : "2017-02-28",
    "operation" : "UpdateItem",
    "key" : {
        "RoomId": $util.dynamodb.toDynamoDBJson($ctx.args.RoomId),
    },
    "update" : {
        "expression" : "SET #Status = :Status",
        "expressionNames": {
            "#Status" : "Status",
        },
        "expressionValues": {
            ":Status" : $util.dynamodb.toDynamoDBJson("close")
        }
    }
}