
{
    "version" : "2017-02-28",
    "operation" : "Query",
    "query" : {
        "expression" : "RoomId = :RoomId",
        "expressionValues" : {
            ":RoomId" : $util.dynamodb.toDynamoDBJson($context.arguments.RoomId)
        }
    }
}